[user]
	email = qiyoumin0801@163.com
	name = Youmin Qi
[color]
	ui = auto
[core]
	editor = vim
[alias]
    graph = log --all --graph --pretty=format:'%C(auto)%h%C(auto)%d %s %C(dim white)(%aN, %ar)'
    graph2 = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
[diff]
    tool = vimdiff
